#head{
    color: red;
}
#vs{
    color: red;
}
.test_image_and_result{
    background-color: darkgrey;

}
.background{
    background-color: aliceblue;
}
.background1{
    background-color: aliceblue;
}